# Exclude config files
*.ini

# Exclude HTML output files
*.html

# Exclude JSON output files
*.json

# Exclude XML output files
*.xml

# Exclude Output files
Output/*

# Exclude Sample
Sample/

# Exclude draft in Lib
Lib/-*.ps1